<?xml version="1.0"?>
<launch>
    <arg name="roomba"        default="roomba1" />
    <arg name="hz"            default="10" />
    <arg name="is_debug"      default="true" />
    <arg name="is_clustering" default="true" />
    <arg name="is_pcl_tf"     default="false" />
    <arg name="config_path"   default="$(find point_cloud_object_detector)/config" />

    <!-- point_cloud_object_detector_node -->
    <node pkg="point_cloud_object_detector" type="point_cloud_object_detector_node" name="object_detector" output="screen" >
        <!-- remap -->
        <remap from="pc_in"      to="$(arg roomba)/camera/depth_registered/points" />
        <remap from="bbox_in"    to="$(arg roomba)/bounding_boxes" />
        <remap from="obj_in"     to="$(arg roomba)/object_positions" />
        <remap from="pc_out"     to="$(arg roomba)/pc" />
        <remap from="cls_pc_out" to="$(arg roomba)/cls_pc" />

        <!-- params -->
        <param name="HZ"            value="$(arg hz)" />
        <param name="IS_DEBUG"      value="$(arg is_debug)" />
        <param name="IS_CLUSTERING" value="$(arg is_clustering)" />
        <param name="IS_PCL_TF"     value="$(arg is_pcl_tf)" />
    </node>

    <!-- rviz -->
    <arg name="is_rviz" default="true" />
    <group if="$(arg is_rviz)" >
        <node pkg="rviz" type="rviz" name="$(arg roomba)_rviz" args="-d $(arg config_path)/rviz/$(arg roomba).rviz" />
    </group>

</launch>